.TopHeader{
    
    font-size: 50px;
}
.orange{
    color: orange;
}
.intro{
    font-size: 30px;
    background-image: linear-gradient(#ffa600e8,#fb6c59c9);
    text-align: center;
    border-radius: 10px;

}

.section1{
    
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.button1{
    
    text-decoration: none;
    background-image: linear-gradient(tomato,rgba(255, 166, 0, 0.651));
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: 700;

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
    
}
.half{
    width: 50%;
    padding-left:7% ;
    
}
.half img{
    width: 80%;
    
    
}
.section2{
    display: flex;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 200px;
    
}
.sec2head{
    font-size: 40px;
}
.half2{
    width: 50%;
    padding-left: 7%;
}
.half2 img{
    width: 80%;
}
.intro2{
    font-size: 20px;
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgba(233, 19, 55, 0.829));
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
}
.section3{
    display: flex;
    margin-bottom: 200px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
    

    
}
.section3 h1{
    font-size: 32px;
}
.section3 h3{
    color:#FF9F32 ;
}
.etc{
    text-align: right;
}
#fun{
    
    box-shadow: 10px 10px 40px gray;
    padding-top: 20px;
    padding-right: 100px;
    border-left: 7px solid ;
    border-radius: 20px;
    border-image: linear-gradient(green,yellowgreen);
    border-image-slice: 1;
    
}
#int{
    box-shadow: 10px 10px 40px gray;
    padding-top: 20px;
    margin-left: 100px;
    padding-right: 100px;
    border-left: 7px solid ;
    padding-bottom: 100px;
    border-radius: 20px;
    border-image: linear-gradient(rgb(238, 255, 3),orange);
    border-image-slice: 1;
}
#adv{
    box-shadow: 10px 10px 40px gray;
    padding-top: 20px;
    margin-left: 100px;
    padding-right: 100px;
    border-left: 7px solid ;
    border-radius: 20px;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
.section3div{
    padding: 20px;
    padding-left: 10%;
    display: flex;
}
#CD{
    margin-left: 150px;
    
}
#footer{
    text-align: center;
    font-weight: 100;
}
.paragraph1{
    text-align: justify;
}
.reg-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(#88C42C,rgba(180, 190, 30, 0.692));
    padding: 10px 40px;
    border-radius: 10px;
    color:white;
    font-weight: 900;
    margin-left: 12px;
}
#basic{
    padding-bottom: 2px;
}
.social{
    padding-left: 850px;
}
.fab{
    font-size: 40px;
    margin-right: 10px;
}
.fa-facebook{
    color: #0C88EF;
}
.fa-youtube{
    color:#F70000 ;
}
.fa-linkedin{
    color: #2464AD;
}
.fa-github{
    color: #161415;
}