.TopHeader{
    
    font-size: 50px;
}
.orange{
    color: orange;
}
.intro{
    

}
.paragraph1{
    
}
.section1{
    
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.button1{
    
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: 700;

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.half{
    width: 50%;
    padding-left:7% ;
    
}
.half img{
    width: 80%;
    
    
}
.section2{
    display: flex;
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.sec2head{
    font-size: 40px;
}
.half2{
    width: 50%;
    padding-left: 7%;
}
.half2 img{
    width: 80%;
}
.intro2{
    font-size: 20px;
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(tomato,pink);
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
}